[package]
name = "lynx"
version = "0.1.1"
authors = ["Simon Bernier St-Pierre <git@sbstp.ca>"]
edition = "2018"
license = "MPL-2.0"

readme = "README.md"
description = "Small and lightweight HTTP client"
documentation = "https://docs.rs/lynx"
homepage = "https://github.com/sbstp/lynx"
repository = "https://github.com/sbstp/lynx"
keywords = ["http", "client", "tls"]

[dependencies]
encoding_rs = "0.8"
http = "0.1"
libflate = "0.1"
log = "0.4"
native-tls = "0.2.1"
url = "1"

[dev-dependencies]
env_logger = "0.5"
